/******************* Background ********************/

html {
	background-color: #fdfdfd;
}

#Wrapper, #Content {
	background-color: #fdfdfd;
}

/********************** Font | Family **********************/

body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}

#menu > ul > li > a, .action_button, #overlay-menu ul li a {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}

#Subheader .title {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}

h1, .text-logo #logo {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}

h2 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}

h3 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}

h4 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}

h5 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 700;
}

h6 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}

blockquote {
	font-family: "Playfair Display", Arial, Tahoma, sans-serif;
}

/********************** Font | Size **********************/

/* Body */

body {
	font-size: 14px;
	line-height: 22px;
}
#menu > ul > li > a, .action_button {
	font-size: 16px;
}

/* Headings */

h1, #Subheader .title, .text-logo #logo {
	font-size: 25px;
	line-height: 25px;
}
h2 {
	font-size: 42px;
	line-height: 42px;
}
h3 {
	font-size: 30px;
	line-height: 32px;
}
h4 {
	font-size: 22px;
	line-height: 26px;
}
h5 {
	font-size: 16px;
	line-height: 21px;
}
h6 {
	font-size: 14px;
	line-height: 21px;
}

/* Responsive */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu > ul > li > a {
		font-size: 14px;
	}

	h1, #Subheader .title, .text-logo #logo {
		font-size: 23px;
		line-height: 23px;
	}
	h2 {
		font-size: 38px;
		line-height: 38px;
	}
	h3 {
		font-size: 27px;
		line-height: 29px;
	}
	h4 {
		font-size: 20px;
		line-height: 24px;
	}
	h5 {
		font-size: 14px;
		line-height: 18px;
	}
	h6 {
		font-size: 13px;
		line-height: 19px;
	}

	blockquote {
		font-size: 15px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 14px;
		line-height: 19px;
	}
	.faq .question .title {
		font-size: 14px;
	}
	.pricing-box .plan-header h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.pricing-box .plan-header .price > span {
		font-size: 40px;
		line-height: 40px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 18px;
		line-height: 18px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 14px;
		line-height: 14px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 32px;
		line-height: 32px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 32px;
		line-height: 32px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 45px;
		line-height: 45px;
	}
	.counter .desc_wrapper .title {
		font-size: 14px;
		line-height: 18px;
	}
	.chart_box .chart .num {
		font-size: 45px;
		line-height: 45px;
	}
	.trailer_box .desc h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.quick_fact .number {
		font-size: 80px;
		line-height: 80px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu > ul > li > a {
		font-size: 13px;
	}

	h1, #Subheader .title, .text-logo #logo {
		font-size: 20px;
		line-height: 20px;
	}
	h2 {
		font-size: 34px;
		line-height: 34px;
	}
	h3 {
		font-size: 24px;
		line-height: 26px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
	h5 {
		font-size: 13px;
		line-height: 17px;
	}
	h6 {
		font-size: 13px;
		line-height: 18px;
	}

	blockquote {
		font-size: 14px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 13px;
		line-height: 16px;
	}
	.faq .question .title {
		font-size: 13px;
	}
	.pricing-box .plan-header h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.pricing-box .plan-header .price > span {
		font-size: 34px;
		line-height: 34px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 16px;
		line-height: 16px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 13px;
		line-height: 13px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 28px;
		line-height: 28px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 28px;
		line-height: 28px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 40px;
		line-height: 40px;
	}
	.counter .desc_wrapper .title {
		font-size: 13px;
		line-height: 16px;
	}
	.chart_box .chart .num {
		font-size: 40px;
		line-height: 40px;
	}
	.trailer_box .desc h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.quick_fact .number {
		font-size: 70px;
		line-height: 70px;
	}
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu > ul > li > a {
		font-size: 13px;
	}

	h1, #Subheader .title, .text-logo #logo {
		font-size: 18px;
		line-height: 18px;
	}
	h2 {
		font-size: 29px;
		line-height: 29px;
	}
	h3 {
		font-size: 21px;
		line-height: 23px;
	}
	h4 {
		font-size: 15px;
		line-height: 18px;
	}
	h5 {
		font-size: 13px;
		line-height: 16px;
	}
	h6 {
		font-size: 13px;
		line-height: 17px;
	}

	blockquote {
		font-size: 13px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 13px;
		line-height: 16px;
	}
	.faq .question .title {
		font-size: 13px;
	}
	.pricing-box .plan-header h2 {
		font-size: 21px;
		line-height: 21px;
	}
	.pricing-box .plan-header .price > span {
		font-size: 32px;
		line-height: 32px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 14px;
		line-height: 14px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 13px;
		line-height: 13px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 26px;
		line-height: 26px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 26px;
		line-height: 26px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 35px;
		line-height: 35px;
	}
	.counter .desc_wrapper .title {
		font-size: 13px;
		line-height: 26px;
	}
	.chart_box .chart .num {
		font-size: 35px;
		line-height: 35px;
	}
	.trailer_box .desc h2 {
		font-size: 21px;
		line-height: 21px;
	}
	.quick_fact .number {
		font-size: 60px;
		line-height: 60px;
	}
}

/********************** Sidebar | Width **********************/

.with_aside .sidebar.columns {
	width: 23%;
}
.with_aside .sections_group {
	width: 75%;
}

.aside_both .sidebar.columns {
	width: 18%;
}
.aside_both .sidebar-1 {
	margin-left: -79%;
}
.aside_both .sections_group {
	width: 60%;
	margin-left: 20%;
}

/********************** Backgrounds **********************/

#Header_wrapper {
	background-color: #000119;
}
#Subheader {
	background-color: rgba(247, 247, 247, 1);
}
.header-classic #Action_bar, .header-plain #Action_bar, .header-stack #Action_bar {
	background-color: #2C2C2C;
}

#Sliding-top {
	background-color: #ececec;
}
#Sliding-top a.sliding-top-control {
	border-right-color: #ececec;
}

#Footer {
	background-color: #ececec;
}

/************************ Colors ************************/

/* Content font */
body, ul.timeline_items, .icon_box a .desc, .icon_box a:hover .desc, .feature_list ul li a, .list_item a, .list_item a:hover, .widget_recent_entries ul li a, .flat_box a, .flat_box a:hover, .story_box .desc, .content_slider.carousel  ul li a .title {
	color: #848289;
}

/* Theme color */
.themecolor, .opening_hours .opening_hours_wrapper li span, .fancy_heading_icon .icon_top, .fancy_heading_arrows .icon-right-dir, .fancy_heading_arrows .icon-left-dir, .fancy_heading_line .title, .button-love a.mfn-love, .format-link .post-title .icon-link, .pager-single > span, .pager-single a:hover, .widget_meta ul, .widget_pages ul, .widget_rss ul, .widget_mfn_recent_comments ul li:after, .widget_archive ul, .widget_recent_comments ul li:after, .widget_nav_menu ul, .woocommerce ul.products li.product .price, .shop_slider .shop_slider_ul li .item_wrapper .price, .woocommerce-page ul.products li.product .price, .widget_price_filter .price_label .from, .widget_price_filter .price_label .to, .woocommerce ul.product_list_widget li .quantity .amount, .woocommerce .product div.entry-summary .price, .woocommerce .star-rating span, #Error_404 .error_pic i, .style-simple #Filters .filters_wrapper ul li a:hover, .style-simple #Filters .filters_wrapper ul li.current-cat a {
	color: #ff006c;
}

/* Theme background */
.themebg, .pager .pages a:hover, .pager .pages a.active, .pager .pages span.page-numbers.current, .pager-single span:after, #comments .commentlist > li .reply a.comment-reply-link, .fixed-nav .arrow, #Filters .filters_wrapper ul li a:hover, #Filters .filters_wrapper ul li.current-cat a, .widget_categories ul, .Recent_posts ul li .desc:after, .Recent_posts ul li .photo .c, .widget_recent_entries ul li:after, .widget_mfn_menu ul li a:hover, .widget_mfn_menu ul li.current_page_item a, .widget_product_categories ul, div.jp-interface, #Top_bar a#header_cart span, .testimonials_slider .slider_images, .testimonials_slider .slider_images a:after, .testimonials_slider .slider_images:before, .slider_pagination a.selected, .slider_pagination a.selected:after, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet.selected:after, .tparrows.default, .tp-bullets.tp-thumbs .bullet.selected:after, .offer_thumb .slider_pagination a:before, .offer_thumb .slider_pagination a.selected:after, .style-simple .accordion .question:after, .style-simple .faq .question:after, .style-simple .icon_box .desc_wrapper h4:before, .style-simple #Filters .filters_wrapper ul li a:after {
	background-color: #ff006c;
}

.Latest_news ul li .photo, .style-simple .opening_hours .opening_hours_wrapper li label {
	border-color: #ff006c;
}

/* Links color */
a {
	color: #ff006c;
}

a:hover {
	color: #c40053;
}

/* Selections */
*::-moz-selection {
	background-color: #ff006c;
}
*::selection {
	background-color: #ff006c;
}

/* Grey */
.blockquote p.author span, .counter .desc_wrapper .title, .article_box .desc_wrapper p, .team .desc_wrapper p.subtitle, .pricing-box .plan-header p.subtitle, .pricing-box .plan-header .price sup.period, .chart_box p, .fancy_heading .inside, .fancy_heading_line .slogan, .post-meta, .post-meta a, .post-footer, .post-footer a span.label, .pager .pages a, .button-love a .label, .pager-single a, #comments .commentlist > li .comment-author .says, .fixed-nav .desc .date, .filters_buttons li.label, .Recent_posts ul li a .desc .date, .widget_recent_entries ul li .post-date, .tp_recent_tweets .twitter_time, .widget_price_filter .price_label, .shop-filters .woocommerce-result-count, .woocommerce ul.product_list_widget li .quantity, .widget_shopping_cart ul.product_list_widget li dl, .product_meta .posted_in, .woocommerce .shop_table .product-name .variation > dd, .shipping-calculator-button:after, .shop_slider .shop_slider_ul li .item_wrapper .price del, .testimonials_slider .testimonials_slider_ul li .author span, .testimonials_slider .testimonials_slider_ul li .author span a, .Latest_news ul li .desc_footer {
	color: #a8a8a8;
}

/* Headings font */
h1, h1 a, h1 a:hover, .text-logo #logo {
	color: #35303f;
}
h2, h2 a, h2 a:hover {
	color: #35303f;
}
h3, h3 a, h3 a:hover {
	color: #35303f;
}
h4, h4 a, h4 a:hover {
	color: #35303f;
}
h5, h5 a, h5 a:hover {
	color: #35303f;
}
h6, h6 a, h6 a:hover, a.content_link .title {
	color: #35303f;
}

/* Highlight */
.dropcap, .highlight:not(.highlight_image) {
background-color: #ff006c;
}

/* Buttons */
a.button, a.tp-button {
	background-color: #f7f7f7;
	color: #747474;
}

.button-stroke a.button, .button-stroke a.button .button_icon i, .button-stroke a.tp-button {
	border-color: #f7f7f7;
	color: #747474;
}
.button-stroke a:hover.button, .button-stroke a:hover.tp-button {
	background-color: #f7f7f7 !important;
	color: #fff;
}

/* .button_theme */
a.button_theme, a.tp-button.button_theme, button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: #ff006c;
	color: #fff;
}

.button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme:not(.action_button),
.button-stroke a.button.button_theme .button_icon i, .button-stroke a.tp-button.button_theme, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
	border-color: #ff006c;
	color: #ff006c !important;
}
.button-stroke a.button.button_theme:hover, .button-stroke a.tp-button.button_theme:hover, .button-stroke button:hover, .button-stroke input[type="submit"]:hover, .button-stroke input[type="reset"]:hover, .button-stroke input[type="button"]:hover {
	background-color: #ff006c !important;
	color: #fff !important;
}

/* Fancy Link */
a.mfn-link {
	color: #656B6F;
}
a.mfn-link-2 span, a:hover.mfn-link-2 span:before, a.hover.mfn-link-2 span:before, a.mfn-link-5 span, a.mfn-link-8:after, a.mfn-link-8:before {
	background: #ff006c;
}
a:hover.mfn-link {
	color: #ff006c;
}
a.mfn-link-2 span:before, a:hover.mfn-link-4:before, a:hover.mfn-link-4:after, a.hover.mfn-link-4:before, a.hover.mfn-link-4:after, a.mfn-link-5:before, a.mfn-link-7:after, a.mfn-link-7:before {
	background: #c40053;
}
a.mfn-link-6:before {
	border-bottom-color: #c40053;
}

/* Shop buttons */
.woocommerce a.button, .woocommerce .quantity input.plus, .woocommerce .quantity input.minus {
	background-color: #f7f7f7 !important;
	color: #747474 !important;
}

.woocommerce a.button_theme, .woocommerce a.checkout-button, .woocommerce button.button, .woocommerce .button.add_to_cart_button, .woocommerce .button.product_type_external, .woocommerce input[type="submit"], .woocommerce input[type="reset"], .woocommerce input[type="button"] {
	background-color: #ff006c !important;
	color: #fff !important;
}

/* Lists */
.column_column ul, .column_column ol, .the_content_wrapper ul, .the_content_wrapper ol {
	color: #737E86;
}

/* Dividers */
.hr_color, .hr_color hr, .hr_dots span {
	color: #ff006c;
	background: #ff006c;
}
.hr_zigzag i {
	color: #ff006c;
}

/* Highlight section */
.highlight-left:after, .highlight-right:after {
	background: #ffffff;
}
@media only screen and (max-width: 767px) {
	.highlight-left	.column:first-child, .highlight-right .column:last-child {
		background: #ffffff;
	}
}

/************************ Header ************************/

#Header .top_bar_left, .header-classic #Top_bar, .header-plain #Top_bar, .header-stack #Top_bar, .header-split #Top_bar, .header-fixed #Top_bar, .header-below #Top_bar, #Header_creative, #Top_bar #menu {
	background-color: #ffffff;
}
#Top_bar .top_bar_right:before {
	background-color: #e3e3e3;
}
#Header .top_bar_right {
	background-color: #f5f5f5;
}
#Top_bar .top_bar_right a {
	color: #444444;
}

#Top_bar .menu > li > a {
	color: #716c7b;
}
#Top_bar .menu > li.current-menu-item > a, #Top_bar .menu > li.current_page_item > a, #Top_bar .menu > li.current-menu-ancestor > a, #Top_bar .menu > li.current_page_ancestor > a, #Top_bar .menu > li.hover > a {
	color: #ff006c;
}
#Top_bar .menu > li a:after {
	background: #ff006c;
}

.menu-highlight #Top_bar #menu > ul > li.current-menu-item > a, .menu-highlight #Top_bar #menu > ul > li.current_page_item > a, .menu-highlight #Top_bar #menu > ul > li.current-menu-ancestor > a, .menu-highlight #Top_bar #menu > ul > li.current_page_ancestor > a, .menu-highlight #Top_bar #menu > ul > li.hover > a {
	background: #F2F2F2;
}

.menu-arrow-bottom #Top_bar .menu > li > a:after {
	border-bottom-color: #ff006c;
}
.menu-arrow-top #Top_bar .menu > li > a:after {
	border-top-color: #ff006c;
}

.header-plain #Top_bar .menu > li.current-menu-item > a, .header-plain #Top_bar .menu > li.current_page_item > a, .header-plain #Top_bar .menu > li.current-menu-ancestor > a, .header-plain #Top_bar .menu > li.current_page_ancestor > a, .header-plain #Top_bar .menu > li.hover > a, .header-plain #Top_bar a:hover#header_cart, .header-plain #Top_bar a:hover#search_button, .header-plain #Top_bar .wpml-languages:hover, .header-plain #Top_bar .wpml-languages ul.wpml-lang-dropdown {
	background: #F2F2F2;
	color: #ff006c;
}

.header-plain #Top_bar, .header-plain #Top_bar .menu > li > a span:not(.description), .header-plain #Top_bar a#header_cart, .header-plain #Top_bar a#search_button, .header-plain #Top_bar .wpml-languages, .header-plain #Top_bar a.button.action_button {
	border-color: #F2F2F2;
}

#Top_bar .menu > li ul {
	background-color: #F2F2F2;
}
#Top_bar .menu > li ul li a {
	color: #5f5f5f;
}
#Top_bar .menu > li ul li a:hover, #Top_bar .menu > li ul li.hover > a {
	color: #2e2e2e;
}
#Top_bar .search_wrapper {
	background: #ff006c;
}

#Subheader .title {
	color: #888888;
}
#Subheader ul.breadcrumbs li, #Subheader ul.breadcrumbs li a {
	color: rgba(136, 136, 136, 0.6);
}

#Overlay {
	background: rgba(255, 0, 108, 0.95);
}
#overlay-menu ul li a, .header-overlay .overlay-menu-toggle.focus {
	color: #ffffff;
}

/************************ Footer ************************/

#Footer, #Footer .widget_recent_entries ul li a {
	color: #817f86;
}

#Footer a {
	color: #817f86;
}

#Footer a:hover {
	color: #595464;
}

#Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
	color: #3a3a3a;
}

/* Theme color */
#Footer .themecolor, #Footer .widget_meta ul, #Footer .widget_pages ul, #Footer .widget_rss ul, #Footer .widget_mfn_recent_comments ul li:after, #Footer .widget_archive ul, #Footer .widget_recent_comments ul li:after, #Footer .widget_nav_menu ul, #Footer .widget_price_filter .price_label .from, #Footer .widget_price_filter .price_label .to, #Footer .star-rating span {
	color: #ff006c;
}

/* Theme background */
#Footer .themebg, #Footer .widget_categories ul, #Footer .Recent_posts ul li .desc:after, #Footer .Recent_posts ul li .photo .c, #Footer .widget_recent_entries ul li:after, #Footer .widget_mfn_menu ul li a:hover, #Footer .widget_product_categories ul {
	background-color: #ff006c;
}

/* Grey */
#Footer .Recent_posts ul li a .desc .date, #Footer .widget_recent_entries ul li .post-date, #Footer .tp_recent_tweets .twitter_time, #Footer .widget_price_filter .price_label, #Footer .shop-filters .woocommerce-result-count, #Footer ul.product_list_widget li .quantity, #Footer .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}

/************************ Sliding Top ************************/

#Sliding-top, #Sliding-top .widget_recent_entries ul li a {
	color: #817f86;
}

#Sliding-top a {
	color: #817f86;
}

#Sliding-top a:hover {
	color: #595464;
}

#Sliding-top h1, #Sliding-top h1 a, #Sliding-top h1 a:hover, #Sliding-top h2, #Sliding-top h2 a, #Sliding-top h2 a:hover, #Sliding-top h3, #Sliding-top h3 a, #Sliding-top h3 a:hover, #Sliding-top h4, #Sliding-top h4 a, #Sliding-top h4 a:hover, #Sliding-top h5, #Sliding-top h5 a, #Sliding-top h5 a:hover, #Sliding-top h6, #Sliding-top h6 a, #Sliding-top h6 a:hover {
	color: #3a3a3a;
}

/* Theme color */
#Sliding-top .themecolor, #Sliding-top .widget_meta ul, #Sliding-top .widget_pages ul, #Sliding-top .widget_rss ul, #Sliding-top .widget_mfn_recent_comments ul li:after, #Sliding-top .widget_archive ul, #Sliding-top .widget_recent_comments ul li:after, #Sliding-top .widget_nav_menu ul, #Sliding-top .widget_price_filter .price_label .from, #Sliding-top .widget_price_filter .price_label .to, #Sliding-top .star-rating span {
	color: #ff006c;
}

/* Theme background */
#Sliding-top .themebg, #Sliding-top .widget_categories ul, #Sliding-top .Recent_posts ul li .desc:after, #Sliding-top .Recent_posts ul li .photo .c, #Sliding-top .widget_recent_entries ul li:after, #Sliding-top .widget_mfn_menu ul li a:hover, #Sliding-top .widget_product_categories ul {
	background-color: #ff006c;
}

/* Grey */
#Sliding-top .Recent_posts ul li a .desc .date, #Sliding-top .widget_recent_entries ul li .post-date, #Sliding-top .tp_recent_tweets .twitter_time, #Sliding-top .widget_price_filter .price_label, #Sliding-top .shop-filters .woocommerce-result-count, #Sliding-top ul.product_list_widget li .quantity, #Sliding-top .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}

/************************ Shortcodes ************************/

/* Blockquote */
blockquote, blockquote a, blockquote a:hover {
	color: #444444;
}

/* Image frames & Google maps & Icon bar */
.image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
	background: rgba(255, 0, 108, 0.8);
}
.image_frame .image_wrapper .image_links a {
	color: #ffffff;
}
.image_frame .image_wrapper .image_links a:hover {
	background: #ffffff;
	color: #ff006c;
}

/* Sliding box */
.sliding_box .desc_wrapper {
	background: #ff006c;
}
.sliding_box .desc_wrapper:after {
	border-bottom-color: #ff006c;
}

/* Counter & Chart */
.counter .icon_wrapper i {
	color: #ff006c;
}

/* Quick facts */
.quick_fact .number-wrapper {
	color: #ff006c;
}

/* Progress bar */
.progress_bars .bars_list li .bar .progress {
	background-color: #ff006c;
}

/* Icon bar */
a:hover.icon_bar {
	color: #ff006c !important;
}

/* Content links */
a.content_link, a:hover.content_link {
	color: #ff006c;
}
a.content_link:before {
	border-bottom-color: #ff006c;
}
a.content_link:after {
	border-color: #ff006c;
}

/* Get in touch & Infobox */
.get_in_touch, .infobox {
	background-color: #ff006c;
}
.column_map .google-map-contact-wrapper .get_in_touch:after {
	border-top-color: #ff006c;
}

/* Timeline & Post timeline */
.timeline_items li h3:before, .timeline_items:after, .timeline .post-item:before {
	border-color: #ff006c;
}

/* How it works */
.how_it_works .image .number {
	background: #ff006c;
}

/* Trailer box */
.trailer_box .desc .subtitle {
	background-color: #ff006c;
}

/* Icon box */
.icon_box .icon_wrapper, .icon_box a .icon_wrapper, .style-simple .icon_box:hover .icon_wrapper {
	color: #ff006c;
}
.icon_box:hover .icon_wrapper:before, .icon_box a:hover .icon_wrapper:before {
	background-color: #ff006c;
}

/* Clients */
ul.clients.clients_tiles li .client_wrapper:hover:before {
	background: #ff006c;
}
ul.clients.clients_tiles li .client_wrapper:after {
	border-bottom-color: #ff006c;
}

/* List */
.list_item.lists_1 .list_left {
	background-color: #ff006c;
}
.list_item .list_left {
	color: #ff006c;
}

/* Features list */
.feature_list ul li .icon i {
	color: #ff006c;
}
.feature_list ul li:hover, .feature_list ul li:hover a {
	background: #ff006c;
}

/* Tabs, Accordion, Toggle, Table, Faq */
.ui-tabs .ui-tabs-nav li.ui-state-active a, .accordion .question.active .title > .acc-icon-plus, .accordion .question.active .title > .acc-icon-minus, .faq .question.active .title > .acc-icon-plus, .faq .question.active .title, .accordion .question.active .title {
	color: #ff006c;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
	background: #ff006c;
}
table tr:hover td {
	background: #ff006c;
}

/* Pricing */
.pricing-box .plan-header .price sup.currency, .pricing-box .plan-header .price > span {
	color: #ff006c;
}
.pricing-box .plan-inside ul li .yes {
	background: #ff006c;
}
.pricing-box-box.pricing-box-featured {
	background: #ff006c;
}

/************************ Shop ************************/
.woocommerce span.onsale, .shop_slider .shop_slider_ul li .item_wrapper span.onsale {
	border-top-color: #ff006c !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	border-color: #ff006c !important;
}

/************************ Responsive ************************/
@media only screen and (max-width: 767px) {
	#Top_bar, #Action_bar {
		background: #ffffff !important;
	}
}

h1 {
	font-weight: 400
}
h2 {
	font-weight: 400;
	letter-spacing: 3px
}
h3 {
	font-weight: 400
}
h4 {
	font-weight: 400
}
h5 {
	font-weight: 400
}
h6 {
	font-weight: 400
}
#Top_bar
#logo {
	height: auto
}
#Top_bar .menu > li > a span:not(.description) {
	letter-spacing: 3px;
	padding: 7px20px
}
@media only screen and (min-width: 1240px) {
	#Header_creative #Top_bar .menu > li > a
	span {
		border: 0 none
	}
	#Header_creative #Top_bar
	.logo {
		margin: 50px 0
	}
	#Header_creative {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
	}
	#Header_creative #Top_bar .menu > li > a:after {
		display: block;
		height: 1px;
		left: 30%;
		width: 40%;
		top: auto;
		bottom: 7px
	}
}
.section-border-bottom {
	border-bottom: 1px solid #d9d9d9
}
.showcase_highlight {
	font-size: 150px;
	line-height: 150px;
	display: block;
	margin-bottom: 15px;
	font-family: PlayfairDisplay
}
.story_box .desc_wrapper
h3 {
	font-size: 42px;
	line-height: 42px;
	font-family: PlayfairDisplay;
	font-style: italic;
	font-weight: 700
}
.style-simple #Filters .filters_wrapper ul li
a {
	letter-spacing: 3px;
	text-transform: uppercase
}

/* #Portfolio
 ================================================== */
.portfolio_group {
	margin: 0 !important;
}
.portfolio_group .portfolio-item {
	list-style: none !important;
	float: left;
}

.portfolio_group:not(.list)
.portfolio-item {
	background: none !important;
}
.portfolio_group .portfolio-item .list_style_header {
	display: none;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
	min-height: 43px;
	padding-right: 275px;
}
.portfolio_group .portfolio-item .list_style_header h3 {
	margin-bottom: 0;
	margin-top: 7px;
}
.portfolio_group .portfolio-item .list_style_header .links_wrapper {
	position: absolute;
	right: 0;
	top: 0;
}
.portfolio_group .portfolio-item .list_style_header .links_wrapper a {
	margin-bottom: 0;
}
.portfolio_group .portfolio-item .list_style_header .links_wrapper a:last-child {
	margin-right: 0;
}
.portfolio_group .portfolio-item:first-child .list_style_header .links_wrapper a.portfolio_prev_js {
	display: none;
}
.portfolio_group .portfolio-item:last-child .list_style_header .links_wrapper a.portfolio_next_js {
	display: none;
}

.portfolio_group .portfolio-item .image_frame {
	width: 100%;
}

.portfolio_group .portfolio-item .desc {
	padding: 20px;
	background: #fff;
	overflow: hidden;
}
.portfolio_group .portfolio-item .desc .title_wrapper {
	position: relative;
	padding-right: 43px;
}
.portfolio_group .portfolio-item .desc .title_wrapper h5 {
	margin-bottom: 0;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love {
	position: absolute;
	right: 0;
	top: 0;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love {
	display: inline-block;
	position: relative;
	padding-left: 24px;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 16px;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love:hover {
	text-decoration: none;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a.mfn-love i:last-child {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio_group .portfolio-item .desc .title_wrapper .button-love a:hover.mfn-love i:last-child, .portfolio_group .portfolio-item .desc .title_wrapper .button-love a.loved.mfn-love i:last-child {
	opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio_group .portfolio-item .desc .desc-wrapper {
	margin-right: 280px;
}
.portfolio_group .portfolio-item .desc .details-wrapper {
	float: right;
	width: 240px;
	padding-left: 19px;
	border-left-width: 1px;
	border-style: solid;
}
.portfolio_group .portfolio-item .desc .details-wrapper dl {
	margin-bottom: 0;
}
.portfolio_group .portfolio-item .desc .details-wrapper dl > dt {
	padding: 2px 0;
	border: 0;
	width: 80px;
}
.portfolio_group .portfolio-item .desc .details-wrapper dl > dd {
	padding: 2px 0;
	border: 0;
	margin-left: 90px;
}

/* List */
.portfolio_group.list .portfolio-item {
	width: 100%;
	border-bottom-width: 0px;
	border-style: solid;
}
.portfolio_group.list .portfolio-item .portfolio-item-fw-bg {
	background-position: top center;
	background-repeat: repeat;
	padding: 35px 0;
}
body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper {
	width: 1176px;
	margin: 0 auto;
}
.portfolio_group.list .portfolio-item .list_style_header {
	display: block;
}
.portfolio_group.list .portfolio-item .desc {
	background: none;
	padding: 20px 0 0;
}
.portfolio_group.list .portfolio-item .desc .title_wrapper {
	display: none;
}

/* Flat */
.portfolio_group.flat .portfolio-item {
	width: 33.3%;
}
.portfolio_group.flat .portfolio-item .image_frame {
	border: 0;
}
.portfolio_group.flat .portfolio-item .image_frame .mask {
	box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
}
.portfolio_group.flat .portfolio-item .desc {
	display: none;
}

.portfolio_group.flat.col-4 .portfolio-item {
	width: 24.99%;
}

/* Grid */
.portfolio_group.grid .portfolio-item {
	width: 31.2%;
	margin: 0 1% 20px;
}
.portfolio_group.grid .portfolio-item .desc .desc-wrapper, .portfolio_group.grid .portfolio-item .desc .details-wrapper {
	display: none;
}

/* Masonry */
.portfolio_group.masonry .portfolio-item {
	width: 31.2%;
	margin: 0 1% 20px;
}
.portfolio_group.masonry .portfolio-item .desc .title_wrapper {
	margin-bottom: 15px;
}
.portfolio_group.masonry .portfolio-item .desc .desc-wrapper {
	display: block;
	margin-right: 0;
}
.portfolio_group.masonry .portfolio-item .desc .details-wrapper {
	display: none;
}

/* Masonry hover */
.portfolio_group.masonry-hover .portfolio-item {
	width: 31.2%;
	margin: 0 1% 20px;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper {
	position: relative;
	overflow: hidden;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.3);
	height: 100%;
	width: 100%;
	padding: 10% 10% 50px;
	box-sizing: border-box;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc h3:after {
	content: "";
	display: block;
	margin: 15px 0;
	width: 20px;
	height: 3px;
	background: #fff;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc h3 a {
	color: #fff;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .desc-inner {
	height: 100%;
	overflow: hidden;
	color: #fff;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper {
	bottom: 18px;
	box-sizing: border-box;
	left: 0;
	padding: 0 7% 0 8%;
	position: absolute;
	width: 100%;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.zoom, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.link, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.external {
	font-size: 25px;
	color: #fff;
	position: relative;
	top: 0;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.zoom {
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.link {
	float: right;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.external {
}
.portfolio_group.masonry-hover .portfolio-item .image-wrapper {
	line-height: 0;
}

.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper:hover .hover-desc {
	opacity: 1;
}
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a:hover.zoom, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a:hover.link, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a:hover.external {
	top: -3px;
}

.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper .hover-desc {
	padding: 10%;
}
.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper {
	overflow: visible;
}
.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper .hover-desc {
	position: static;
	opacity: 1;
}
.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper .hover-desc .desc-inner {
	margin-bottom: 15px;
}
.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper .hover-desc .links-wrappper {
	position: static;
	padding: 0;
	margin-top: 30px;
}
.portfolio_group.masonry-hover .portfolio-item.no-thumbnail .masonry-hover-wrapper .hover-desc .links-wrappper a.zoom {
	display: none;
}

/* Animation */
.portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.zoom, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.link, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc .links-wrappper a.external, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Masonry Flat */
.portfolio_group.masonry-flat .portfolio-item {
	width: 24.99%;
}
.portfolio_group.masonry-flat .portfolio-item.wide {
	width: 49.99%;
}
.portfolio_group.masonry-flat .portfolio-item.tall {
	margin-bottom: -1px;
}
.portfolio_group.masonry-flat .portfolio-item .image_frame {
	border: 0;
}
.portfolio_group.masonry-flat .portfolio-item .image_frame .mask {
	box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
}
.portfolio_group.masonry-flat .portfolio-item .image_frame img {
	margin: 0 !important;
	top: 0 !important;
}
.portfolio_group.masonry-flat .portfolio-item .desc {
	display: none;
}

.section_wrapper .portfolio_wrapper .column.one.pager_wrapper .hover-desc {
	margin: 40px 0 !important;
}

.image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
	background: rgba(255, 0, 108, 0.8);
}

.single-photo-wrapper, .project-description {
	display: none
}
#gallery-1 {
	margin: auto
}
#gallery-1 .gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 33%
}
#gallery-1
img {
	border: 2px solid #cfcfcf
}
#gallery-1 .gallery-caption {
	margin-left: 0
}

/*
 |--------------------------------------------------------------------------
 |   Demo Styles
 |
 |--------------------------------------------------------------------------
 |
 |
 |
 */
body.contact #Content, body.content_no_padding #Content {
	padding-top: 0 !important;
}

/* If you want to add your own CSS code, please do it in this file */

/* ------------------------------------------- *
 * font awesome
 * ------------------------------------------- */
.the-icons.span3 {
	float: left;
	width: 25%;
	line-height: 25px;
	padding-bottom: 10px;
	position: relative;
}
.the-icons.span3 [class^="icon-"] {
	color: #3E3E3E;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.the-icons.span3 [class^="icon-"]:hover {
	font-size: 50px;
	background: #fff;
	padding: 10px;
	display: block;
	text-align: center;
	width: 70px;
	height: 50px;
	border: 1px solid #eee;
	top: -25px;
	left: -32px;
	z-index: 2;
}
.the-icons.span3 .i-name {
	padding-left: 40px;
}

@media only screen and min-width: 768px and max-width: 959px {
	.the-icons.span3 {
		width: 33.333%;
	}
}
@media only screen and min-width: 480px and max-width: 767px {
	.the-icons.span3 {
		width: 50%;
	}
}
@media only screen and max-width: 479px {
	.the-icons.span3 {
		width: 100%;
	}
}

/* ------------------------------------------- *
 * demo
 * ------------------------------------------- */

/* sections */
.parallax-video .content_video iframe {
	border: 35px solid #efefef;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section-border-top {
	border-top: 1px solid rgba0, 0, 0, .08;
}
.notable_works .items_group {
	background: #eaeae8;
}
.notable_works .items_group .fancy_heading h2 {
	margin-bottom: 0;
	padding-top: 40px;
}

/* custom inline add */
.hrmargin_0, p.hrmargin_0, hr.hrmargin_0, div.hrmargin_0, h2.hrmargin_0, h3.hrmargin_0, h4.hrmargin_0, h5.hrmargin_0, h6.hrmargin_0 {
	margin: 0;
}
.hrmargin_b_60, p.hrmargin_b_60, hr.hrmargin_b_60, div.hrmargin_b_60, h2.hrmargin_b_60, h3.hrmargin_b_60, h4.hrmargin_b_60, h5.hrmargin_b_60, h6.hrmargin_b_60 {
	margin: 0 auto 60px;
}
.hrmargin_b_30, p.hrmargin_b_30, hr.hrmargin_b_30, div.hrmargin_b_30, h2.hrmargin_b_30, h3.hrmargin_b_30, h4.hrmargin_b_30, h5.hrmargin_b_30, h6.hrmargin_b_30 {
	margin-bottom: 30px;
}
.hrmargin_b_1, p.hrmargin_b_1, hr.hrmargin_b_1, div.hrmargin_b_1, h2.hrmargin_b_1, h3.hrmargin_b_1, h4.hrmargin_b_1, h5.hrmargin_b_1, h6.hrmargin_b_1 {
	margin: 0 auto 1px;
}
.hrmargin_b_10, p.hrmargin_b_10, hr.hrmargin_b_10, div.hrmargin_b_10, h2.hrmargin_b_10, h3.hrmargin_b_10, h4.hrmargin_b_10, h5.hrmargin_b_10, h6.hrmargin_b_10 {
	margin: 0 auto 10px;
}
.hrmargin_b_7, p.hrmargin_b_7, hr.hrmargin_b_7, div.hrmargin_b_7, h2.hrmargin_b_7, h3.hrmargin_b_7, h4.hrmargin_b_7, h5.hrmargin_b_7, h6.hrmargin_b_7 {
	margin-bottom: 7px;
}
.hrmargin_b_40, p.hrmargin_b_40, hr.hrmargin_b_40, div.hrmargin_b_40, h2.hrmargin_b_40, h3.hrmargin_b_40, h4.hrmargin_b_40, h5.hrmargin_b_40, h6.hrmargin_b_40 {
	margin: 0 auto 40px;
}
.hrmargin_b_40, p.hrmargin_b_20, hr.hrmargin_b_20, div.hrmargin_b_20, h2.hrmargin_b_20, h3.hrmargin_b_20, h4.hrmargin_b_20, h5.hrmargin_b_20, h6.hrmargin_b_20 {
	margin: 0 auto 20px;
}
.hrmargin_b_25, p.hrmargin_b_25, hr.hrmargin_b_25, div.hrmargin_b_25, h2.hrmargin_b_25, h3.hrmargin_b_25, h4.hrmargin_b_25, h5.hrmargin_b_25, h6.hrmargin_b_25 {
	margin: 0 auto 25px;
}
.hrmargin_b_5, p.hrmargin_b_5, hr.hrmargin_b_5, div.hrmargin_b_5, h2.hrmargin_b_5, h3.hrmargin_b_5, h4.hrmargin_b_5, h5.hrmargin_b_5, h6.hrmargin_b_5 {
	margin-bottom: 5px;
}
.hrmargin_b_4, p.hrmargin_b_4, hr.hrmargin_b_4, div.hrmargin_b_4, h2.hrmargin_b_4, h3.hrmargin_b_4, h4.hrmargin_b_4, h5.hrmargin_b_4, h6.hrmargin_b_4 {
	margin-bottom: 4px;
}
.hrmargin_l_26, p.hrmargin_l_26, hr.hrmargin_l_26, div.hrmargin_l_26, h2.hrmargin_l_26, h3.hrmargin_l_26, h4.hrmargin_l_26, h5.hrmargin_l_26, h6.hrmargin_l_26 {
	margin-left: 26px;
}
.hrmargin_b_30, p.hrmargin_b_30, hr.hrmargin_b_30, div.hrmargin_b_30, h2.hrmargin_b_30, h3.hrmargin_b_30, h4.hrmargin_b_30, h5.hrmargin_b_30, h6.hrmargin_b_30 {
	margin: 0 auto 30px;
}
.hrmargin_b_15, p.hrmargin_b_15, hr.hrmargin_b_15, div.hrmargin_b_15, h2.hrmargin_b_15, h3.hrmargin_b_15, h4.hrmargin_b_15, h5.hrmargin_b_15, h6.hrmargin_b_15 {
	margin: 0 auto 15px;
}

.flv_disp_none, div.flv_disp_none, p.flv_disp_none {
	display: none;
}
.flv_viz_hid, div.flv_viz_hid, p.flv_viz_hid {
	visibility: hidden !important;
}
.flv_clear_both, div.flv_clear_both, p.flv_clear_both {
	clear: both
}
.sections_style_0, div.sections_style_0 {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: }
	.sections_style_1,div.sections_style_1{margin: 0px auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.sections_style_2, div.sections_style_2 {
	padding-top: 60px;
	padding-bottom: 0px;
	background-color: }
	.sections_style_3,div.sections_style_3{padding-top: 60px;
	padding-bottom: 20px;
	background-color: }
	.sections_style_4,div.sections_style_4{padding-top: 40px;
	padding-bottom: 0px;
	background-color: }
	.sections_style_5,div.sections_style_5{padding-top: 70px;
	padding-bottom: 0px;
	background-color: }

	.flv_span_12,span.flv_span_12,div.flv_span_12{padding-top: 12px;
	display: block
}
.flv_list, ul.flv_list {
	float: left;
	width: 46%;
	margin-left: 4%;
	list-style: square;
	line-height: 30px;
}
.flv_list_1, li.flv_list_1 {
	display: inline-block;
	margin: 0 10px;
}
.flv_list_ul_46, ul.flv_list_ul_46 {
	float: left;
	width: 46%;
	margin-left: 4%;
	list-style: square;
	line-height: 27px;
}
.flv_list_ul_10, ul.flv_list_ul_10 {
	display: block;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

i.flv_icon_color {
	color: #afbcda;
}
ul.flv_line_height_32 {
	line-height: 32px;
}
p.flv_align_right, div.flv_align_right {
	text-align: right;
}
.flv_float_right, div.flv_float_right {
	float: right;
}